In [4]:
# Autoreload 
%load_ext autoreload
%autoreload 2

from pathlib import Path 
import pandas as pd 
import numpy as np
import os 
import re 
import gzip 
import shutil
import Bio.PDB.MMCIF2Dict
from typing import Union, List, Tuple, Dict, Optional
from pathlib import Path

pd.options.mode.chained_assignment = None  # default='warn'

In [5]:
from phosphosite.load_data import background_df

In [6]:
from composition_stats import clr
clr

In [25]:
x = np.array([
    [.1, .3, .4, .2],
    [.2, .3, .4, .1],
    [.1, .1, .1, .1],
    [.1, .1, .1, 0],
],
    
)
# create dataframe from this 
df = pd.DataFrame(x, columns=["A", "B", "C", "D"])

norm = clr(df.to_numpy())

# put norm back into df with original index 
df = pd.DataFrame(norm, columns=["A", "B", "C", "D"], index=df.index)
df

/home/cim/anaconda3/envs/phosphosite/lib/python3.9/site-packages/composition_stats/__init__.py:467: RuntimeWarning: divide by zero encountered in log
  lmat = np.log(mat)
/home/cim/anaconda3/envs/phosphosite/lib/python3.9/site-packages/composition_stats/__init__.py:469: RuntimeWarning: invalid value encountered in subtract
  return (lmat - gm).squeeze()

          A         B         C         D
0 -0.794513  0.304099  0.591781 -0.101366
1 -0.101366  0.304099  0.591781 -0.794513
2  0.000000  0.000000  0.000000  0.000000
3       inf       inf       inf       NaN